@import "./utils/variables.scss";
@import "./utils/mixins.scss";
@import "./base/normalize.scss";
@import "./base/base";
@import "./base/fonts.scss";
@import "./base/typography.scss";
@import "./components/button.scss";

@import "./layouts/content.scss";
@import "./layouts/header.scss";
@import "./layouts/footer.scss";
@import "./pages/accueil.scss";
@import "./pages/cv.scss";
@import "./pages/pages.scss";