.backhome .btn {
    background-color: $primary;
    width: 3em;
    height: 3em;
    a i{
        margin-top: 0.1em;
    }
    :hover{
        color: $secondary;
    }
}
.backhome {
    margin-top: -4em;
    @include respond-to(large) {
        margin-top: 1em;
        padding: 0 4em;
    }
}
.btn-primary  {
background-color: $accent!important;
}
.dropdown-btn {
    color: $secondary!important;
}

.download-btn {
    position: absolute;
    right: 1em;
    border-color: $accent-2;
    padding: 0.1em 0.5em;
    &:hover {
        border-color: $secondary;
    }
    a {
        font-size: 0.9em;
    }
}
.download-btn.accroche-btn {
    bottom: 1em;
    
    a {
        font-size: 0.8em;
    }
}