

.home-title_heading {
 
  display: inline-block;
  position: relative;
  margin: auto;
  line-height: 0.9em;
  z-index: 1;
}
.home-title_heading::after {
  display: block;
  text-align: center;
  content: " ";
  position: absolute;
  left: 3px;
  right: 0;
  bottom: -5px;
  z-index: -1;
  width: 98%;
  border-bottom: solid 20px $accent;
}
.bloc-home {  
  background-color: $primary;

}
/* #home {
  position: absolute;
  top: 20px;
  left: 50px;
} */
.home-body-li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3px;
  margin-right: 1em;
  
  width: 2.3em;
  height: 2.3em;
  
}