.bloc-portfolio.card {
    padding: 1em;
    margin: 1em;
    background-color: $primary!important;
}
.portfolio-btn {
    background-color: $accent;
    border-color: $primary!important;
    &:hover {
        color: white;
        border-color: $accent-2!important;
    }
}
.bloc-portfolio {
     h2 {
    font-size: 1.7em;
    }
    h5 {
        color: $accent-2;
    }
}