    // Breakpoints
@mixin respond-to($breakpoint) {
    @if $breakpoint == "small" {
      @media (min-width: 599px) {
        @content;
      }
    }
  
    @else if $breakpoint == "medium" {
      @media (min-width: 767px) {
        @content;
      }
    }
  
    @else if $breakpoint == "large" {
      @media (min-width: 840px) {
        @content;
      }
    }
    @else if $breakpoint == "xl" {
      @media (min-width: 1200px) {
        @content;
      }
    }
  }

  