$primary: #2c2d30;
$secondary: #ffffff;
$accent: #066666;
$accent-2: #fdcb46;
$color-note: #3c1218;
$color-chic: #c77412;
$color-palette: #72bf56;

$gradients: () !default;
$gradients: map-merge((
    musique: linear-gradient( to bottom right,#f15861 40%, #f78f6a 80%),
    note: linear-gradient( to bottom right,#f15861 40%, #f78f6a 80%) ,
    chic: linear-gradient(to bottom right, $color-chic 30%, #6e4ccc),
    
    palette: linear-gradient(to bottom right,#3c6f2a 20%, $color-palette 70%, #61f72a 95% )), $gradients);

$backgrounds: () !default;
$backgrounds: map-merge((
    note:  #fcdfdb ,
    chic:   #fff5fe,
    delice: #f9f9f9,
    palette:  #fdfffd,
    primary: #579c87,
    white: #fff), $backgrounds);
