/*FOOTER*/
.footer {   
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 70px;       
    display: flex;    
    align-content: center; 
    justify-content: flex-end;
    padding: 1em;
    background-color: $primary;
    z-index: 2;
   
} 