#main-header {
  background:$primary;
  max-height: 650px;
}
.navbar-dark {
  background-color: $primary!important;
}
 #mytoggler {
  border-color: $accent!important;
  color: $accent!important;
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280,102,102, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    
  }
}
.nav {
  display: grid;
   grid-template-columns: 1fr;   
  justify-content: center;
  align-items: center;
  
}

.nav-item ,.nav-li {
  display: grid;
  grid-template-columns: 3fr;
  justify-content: space-between;  
  align-content: center;
  margin: 5px 15px;
  
}
.nav-li a {  
  width: 100%;

}
.nav-link-body {
  width: 100%;
  position: relative;
  p {
    margin-bottom: 0!important;
  }
  
}
.nav-link-body .fa-icon {
position: absolute;
right: 3px;
}
#profil-pic {
  width: 9rem;
  height: 9rem;
  margin: auto;
}
.profile-pic, #profil-pic {
  margin-bottom: 0.8em;
  border-radius: 50% 50%;
  -webkit-border-radius: 50% 50%;
  -moz-border-radius: 50% 50%;
  -ms-border-radius: 50% 50%;
  -o-border-radius: 50% 50%;
}
.devel {
  border-bottom: 2px solid $accent;
}